<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-light'>

    <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag 'want_movies.png', 'data-toggle': :tooltip, 'data-placement': :bottom, 'title': 'トップページへ戻る' %>
    <% end %>
    <button class='navbar-toggler' data-toggle='collapse' data-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ml-auto main-nav align-items-center'>
        <li class='nav-item dropdown dropdown-slide'>
          <%= link_to '#', class: 'nav-link dropdown-toggle text-primary font-weight-bold', 'data-toggle': :dropdown, 'aria-haspopup': true,
            'aria-expanded': false do %>
            投稿
          <% end %>
          <div class='dropdown-menu dropdown-menu-right '>
            <%= link_to '投稿一覧', boards_path, class: 'dropdown-item text-primary' %>
            <%= link_to '投稿作成', new_board_path, class: 'dropdown-item text-primary' %>
          </div>
        </li>

        <li class='nav-item'>
          <%= link_to 'お気に入り', bookmarks_boards_path, class:"fa fa-heart", 'data-toggle': :tooltip, 'data-placement': :bottom, 'title': 'あなたが「お気に入り」した投稿一覧' %>
        </li>
        <li class='nav-item'>
        <%= link_to "ユーザー一覧", users_path, class:"fas fa-user", 'data-toggle': :tooltip, 'data-placement': :bottom, 'title': '本サービスに登録しているユーザーの一覧' %>
        </li>
        <li class='nav-item dropdown dropdown-slide'>
          <%= link_to '#', class: 'nav-link', 'data-toggle': :dropdown, 'aria-haspopup': true, 'aria-expanded': false, id: 'header-profiles' do %>
            <%= image_tag(current_user.user_image.url, class: 'rounded-circle mr15', width: '40', height: '40') %>
          <% end %>
          <div class='dropdown-menu dropdown-menu-right'>
            <div class='dropdown-item text-primary'><%= current_user.decorate.full_name %></div>
            <div class='dropdown-divider'></div>
            <%= link_to 'プロフィール', profile_path, class: 'dropdown-item text-primary' %>
            <%= link_to 'ログアウト', logout_path, class: 'dropdown-item text-primary', method: :post %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="js/bootstrap.bundle.js"></script>
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</header>
