<div class='container'>
  <div class='row'>
    <div class='col-lg-8 offset-lg-2'>
      <ul>
        <% @board.errors.full_messages.each do |message| %>
          <div class='alert alert-danger'>
            <li><%= message %></li>
          </div>
        <% end %>
      </ul>
      <h1><%= t('.boards_create') %></h1>
      <%= form_with(url: boards_path, model: @board, local: true) do |form| %>
        <div class='form-group'>
          <label for='board_title'><%= t('.boards_title') %></label>
          <%= form.text_field :title, class: 'form-control', id: 'board_title' %>
        </div>
        <div class='form-group'>
          <label for='board_body'><%= t('.boards_text') %></label>
        <%= form.text_area :body, class: 'form-control', row: '10', heigth: '200px', id: 'board_body' %>
        </div>
      <%= form.submit :commit, class: 'btn btn-primary', 'data-disable-with': '作成' %>
      <% end %>
    </div>
  </div>
</div>