<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
</head>
<body class='hold-transition sidebar-mini'>
<div class='wrapper'>
  <%= render 'admin/shared/header' %>
  <%= render 'admin/shared/sidebar' %>
  <%= render 'shared/flash_message' %>
  <%= yield %>
  <%= render 'admin/shared/footer' %>
</div>
</body>
</html>
