<!-- Main Sidebar Container -->
<aside class='main-sidebar sidebar-dark-primary elevation-4'>
  <!-- Brand Logo -->
  <a class='brand-link' href='/admin'>
    <%= image_tag '/assets/AdminLTELogo-92af06833886bd48cb14b00faa6d70220b3eb7a651f12c5d6f38501ac910dd6b.png', class: 'img-circle elevation-2' %>
    <span class='brand-text font-weight-light'>AdminLTE 3</span>
  </a>
  <!-- Sidebar -->
  <div class='sidebar'>
    <!-- Sidebar user panel (optional) -->
    <div class='user-panel mt-3 pb-3 mb-3 d-flex'>
      <div class='image'>
        <img class='img-circle elevation-2' src='/assets/sample-08ca6735af47bfefce4c43e3de2182768289121aa057f141b7f4704a89670827.jpg'/>
      </div>
      <div class='info'>
        <%= link_to '#', class: 'd-block' do %>
          <%= current_user.last_name %><%= current_user.first_name %>
        <% end %>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class='mt-2'>
      <ul class='nav nav-pills nav-sidebar flex-column' data-widget='treeview' role='menu' data-accordion='false'>
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class='nav-item'>
          <%= link_to admin_boards_path, class: "nav-link #{active('admin/boards')}" do %>
            <i class='nav-icon fa fa-file-o'></i>
            <p>
              掲示板一覧
            </p>
          <% end %>
        </li>
        <li class='nav-item'>
          <%= link_to admin_users_path, class: "nav-link #{active('admin/users')}" do %>
            <i class='nav-icon fa fa-file-o'></i>
            <p>
              ユーザー一覧
            </p>
          <% end %>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>